
#div1 {
    width: 100%;
height: 60px;
background-color:orangered;

word-spacing: 50px;
  

}

#div2 {
text-align: center;

}



#img1{
height: 60px;
position: relative; right: -200px;
}
#divdi1 {
    width: 100%;
    height: 80px;
    background-color: black;
      text-decoration-color: #fff; 
    text-align: center;

    }

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    color: #fff;
    
  } 

#divc1{

background-color: white;

}



#f1 {
width: 27%;
height:1700px ;
border: 0px;
}
#feedform1 {
border-style:groove;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;

}
#inde1 {
text-decoration: none;
color: white;
text-align: center;
}



#f2 {
    width:72%;
    height: 1700px;
    border: 0px;
}

 

a {

color: beige;
text-decoration: none;
position: relative; top: -25px; right: -200px;
font-size:larger;

}

a, a:visited, a:active {
    text-decoration: none;

  }
  
  a:hover {
    color:blueviolet;
  } 


#feedbackh1 {
text-align: center;

}



#a2{

    color: beige;
    text-decoration: none;
    position: relative; top: -25px; right: -200px;
    font-size:larger;
    
    }
    #feedbackh1 {
    text-align: center;
    

}
#a3 {

    color: beige;
    text-decoration: none;
    position: relative; top: -25px; right: -200px;
    font-size:larger;


}

.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }







body {
    margin: 0 auto;
    background-color: rgb(54, 115, 151);
}

div.formContainer {
    margin: 4em auto 4em auto;
    width: 80%;
    color: #FCE205;
    border: 1px solid #FCE205;
    border-radius: 2px;
}

div.heading {
    margin: 0 auto 0 auto;
    width: 100%;
    padding: 1em 0 1em 0;
    letter-spacing: 0.1em;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #FCE205;
    text-align: center;
    background-color: #FCE205;
    color: black;
}

div.description {
    padding: 1em 0 1em 0;
    width: 80%;
    margin: 0 auto 0 auto;
    text-align: center;
}

div.form {
    margin: 0 auto 0 auto;
    width: 100%;
}

div.form form {
    margin: 0 auto 0 auto;
    width: 80%;
}

div.form label {
    display: block;
    width: 80%;
    margin: 1em auto 1em auto;
    outline: none;
    color: #FCE205;
    font-weight: bolder;
    letter-spacing: 0.1;
}

div.form input {
    display: block;
    width: 80%;
    margin: 1em auto 1em auto;
    outline: none;
    color: #FCE205;
    padding: 1.2em 0 1em 1.2em;
    background-color: black;
    border: 0.5px solid #FCE205;
}

div.form textarea {
    display: block;
    width: 80%;
    margin: 1em auto 1em auto;
    outline: none;
    color: #FCE205;
    padding: 1.2em 0 1em 1.2em;
    background-color: black;
    border: 0.5px solid #FCE205;
    height: 8em;
    resize: none;
}

div.form button {
    outline: none;
    margin: 2em auto 2em auto;
    padding: 2em;
    cursor: pointer;
    border: none;
    display: block;
    width: 60%;
    text-align: center;
    border: 1px solid #FCE205;
}

div.form input:active,
div.form input:focus,
div.form select:active,
div.form select:focus,
div.form textarea:active,
div.form textarea:focus,
div.form button:active,
div.form button:hover {
    box-shadow: 0 0 2px 2px rgb(248, 248, 250);
}

div.form button {
    background-color: rgb(24, 8, 172);
    color: #FCE205;
    font-weight: bolder;
    transition: all 0.2s linear;
}

@keyframes status {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

div.statusActive {
    display: block;
    width: 80%;
    margin: 1em auto 1em auto;
    padding: 1.2em 0 1em 1.2em;
    background-color: #FCE205;
    color: black;
    text-align: center;
    animation-name: status;
    animation-duration: 0.3s;
    transition: all 0.2s linear;
}

div.loadingActive {
    width: 90%;
    margin: 4em auto 4em auto;
    grid-template-columns: 33.3% 33.3% 33.3%;
    display: grid;
    transition: all linear 0.2s;
}

div.loadingActive div {
    padding: 0.5em;
    background-color: #FCE205;
    animation-name: rotatingDiv;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes rotatingDiv {
    from {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 1224px) {
    div.formContainer {
        width: 500px;
    }
}

@media only screen and (min-width: 1824px) {
    div.formContainer {
        width: 500px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    div.formContainer {
        width: 80%;
    }
}